﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<form method="post">
    <label>Name</label>
    <input name="Name"/>

    <br />

    <label>Description</label>
    <input name="Description"/>

    <br />

    <button type="submit">Save</button>
</form>